.container{
    display: flex;
    justify-content: space-between;
}


li a{
    text-decoration: none;
    color: grey;
}

li{
    list-style: none;
}

.col2,.col3{
    border-left: 2px solid grey;
}

.col4_c1, .col4_c2,.col4_c3,.col4_c4{
    border-left: 2px solid grey;
}